.missionTitle {
  text-align: center;
  font-size: 3em;
  color: #395B64;
}

.filtersBox {
  -webkit-box-shadow: 0 0 10px #395B64;
          box-shadow: 0 0 10px #395B64;
  margin: 0 50px;
  padding: 5px 20px;
  border-radius: 5px;
  background: #A5C9CA;
  width: 125px;
  -webkit-transition: width 500ms;
  transition: width 500ms;
}

.filtersBox .headerFilters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px;
}

.filtersBox .headerFilters .filtersTitle {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.2em;
}

.filtersBox .headerFilters .filtersTitle .sliders {
  margin-right: 10px;
}

.filtersBox .headerFilters .filtersTitle .chevronDownFilters {
  margin-left: 10px;
  -webkit-transition: -webkit-transform 500ms;
  transition: -webkit-transform 500ms;
  transition: transform 500ms;
  transition: transform 500ms, -webkit-transform 500ms;
}

.filtersBox .headerFilters .cancelFilters {
  display: none;
  font-size: 1em;
  background: #395B64;
  padding: 10px;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.filtersBox .headerFilters .cancelFilters .cancelSvg {
  margin-right: 5px;
}

.filtersBox .filtersAndApplyBtn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 0;
  overflow: hidden;
  -webkit-transition: height 500ms;
  transition: height 500ms;
}

.filtersBox .filtersAndApplyBtn .filters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

.filtersBox .filtersAndApplyBtn .filters .filtersItemAndTitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #E7F6F2;
  margin: 20px;
  padding: 10px;
  border-radius: 5px;
  height: 328px;
}

.filtersBox .filtersAndApplyBtn .filters .filtersItemAndTitle .filtersBlockTitle {
  font-size: 1.3em;
  color: #395B64;
}

.filtersBox .filtersAndApplyBtn .filters .filtersItemAndTitle .filtersItem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.filtersBox .filtersAndApplyBtn .filters .filtersItemAndTitle .filtersItem .missionsFiltersLine {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 10px;
}

.filtersBox .filtersAndApplyBtn .filters .filtersItemAndTitle .filtersItem .labelAndFilter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 15px 25px;
}

.filtersBox .filtersAndApplyBtn .filters .filtersItemAndTitle .filtersItem .labelAndFilter .filterTitle {
  margin-bottom: 5px;
  color: #395B64;
}

.filtersBox .filtersAndApplyBtn .filters .filtersItemAndTitle .filtersItem .labelAndFilter .statusFilter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 300px;
  background: white;
  border: 1px solid #767676;
  border-radius: 2px;
}

.filtersBox .filtersAndApplyBtn .filters .filtersItemAndTitle .filtersItem .labelAndFilter .statusFilter div {
  margin: 5px;
  padding: 5px;
  border-radius: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.filtersBox .filtersAndApplyBtn .filters .filtersItemAndTitle .filtersItem .labelAndFilter .statusFilter div label {
  font-size: 0.9em;
}

.filtersBox .filtersAndApplyBtn .filters .filtersItemAndTitle .filtersItem .agentFilter, .filtersBox .filtersAndApplyBtn .filters .filtersItemAndTitle .filtersItem .contactFilter, .filtersBox .filtersAndApplyBtn .filters .filtersItemAndTitle .filtersItem .targetFilter, .filtersBox .filtersAndApplyBtn .filters .filtersItemAndTitle .filtersItem .stashFilter {
  height: 262px;
}

.filtersBox .filtersAndApplyBtn .filters .filtersItemAndTitle .filtersItem input, .filtersBox .filtersAndApplyBtn .filters .filtersItemAndTitle .filtersItem select option {
  padding: 5px 10px;
}

.filtersBox .filtersAndApplyBtn .filters .filtersItemAndTitle .filtersItem .headerSelect {
  padding: 5px 10px;
  background: #A5C9CA;
  color: #395B64;
}

.filtersBox .filtersAndApplyBtn .applyBtn {
  font-size: 1em;
  background: #395B64;
  padding: 10px;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  max-width: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.filtersBox .filtersAndApplyBtn .applyBtn .confirmSvg {
  margin-right: 5px;
}

.missionsList {
  margin: 0;
  list-style: none;
  font-family: 'Courier New', Courier, monospace;
  padding: 50px;
  margin: 0;
  text-align: center;
}

.missionsList .mission {
  text-align: initial;
  display: inline-block;
  margin: 20px;
  border-radius: 5px;
  padding: 10px 20px;
  width: 650px;
  -webkit-box-shadow: 0 0 10px #395B64;
          box-shadow: 0 0 10px #395B64;
}

.missionsList .mission .headerMission {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #395B64;
  border-radius: 5px;
  padding: 0 10px;
  color: white;
}

.missionsList .mission .infosMission {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 20px;
  position: relative;
}

.missionsList .mission .infosMission .map {
  margin-right: 20px;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 10px #395B64;
          box-shadow: 0 0 10px #395B64;
}

.missionsList .mission .infosMission .missionItems {
  bottom: 0;
}

.missionsList .mission .infosMission .missionItems .missionItem {
  margin: 5px;
}

.missionsList .mission .details {
  background: #395B64;
  border-radius: 5px;
  padding: 5px 20px;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100px;
  -webkit-transition: width 500ms;
  transition: width 500ms;
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.missionsList .mission .details .detailsBtn {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #395B64;
  border-radius: 5px 5px 0 0;
  padding: 5px 0;
  color: white;
  cursor: pointer;
  -webkit-transition: border-bottom 500ms;
  transition: border-bottom 500ms;
}

.missionsList .mission .details .detailsBtn .chevronDownDetails {
  margin-left: 10px;
  -webkit-transition: -webkit-transform 500ms;
  transition: -webkit-transform 500ms;
  transition: transform 500ms;
  transition: transform 500ms, -webkit-transform 500ms;
}

.missionsList .mission .details .detailsInfos {
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  height: 0;
  -webkit-transition: height 500ms;
  transition: height 500ms;
  overflow: hidden;
}

.missionsList .mission .details .detailsInfos .infosItem {
  margin: 10px 0;
}

.missionsList .mission .details .detailsInfos .infosItem ul, .missionsList .mission .details .detailsInfos .infosItem p {
  list-style: none;
  padding: 5px 0 0 20px;
  margin: 0;
}

.missionsList .mission .details .detailsInfos .infosItem span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.missionsList .mission .details .detailsInfos .infosItem span svg {
  margin-right: 5px;
}
/*# sourceMappingURL=style.css.map */