.confirmMessage {
    position: static;
    left: 0;
    color: rgb(7, 99, 60);
    padding: 10px 40px;
    background: rgb(140, 212, 182);
    border-radius: 5px;
    opacity: 0;
    transition: opacity 1000ms;
    margin-left: 20px;
}
.missionTitle {
    position: relative;
    .newBtn {
        position: absolute;
        bottom: -60px;
        left: 50%;
        transform: translateX(-50%);
        text-decoration: none;
        border: 1px solid #395B64;
        padding: 9px 12px;
        border-radius: 5px;
        cursor: pointer;
        opacity: 0.8;
        background: #A5C9CA;
        width: 130px;
        &:hover {
            opacity: 1;
        }
        a {
            display: flex;
            align-items: center;
            color: #395B64;
            text-decoration: none;
            font-size: 1.2em;
            .newSvg {
                margin-right: 12px;
            }
        }
    }
}
.filtersBox {
    box-shadow: 0 0 10px #395B64;
    margin: 50px 50px 0 50px;
    padding: 5px 10px;
    border-radius: 5px;
    background: #A5C9CA;
    max-width: 1200px;
    width: 150px;
    transition: width 500ms;
    display: flex;
    flex-direction: column;
    align-items: center;
    .headerFilters {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 5px;
        width: 95%;
        margin-left: 35px;
        .filtersTitle {
            cursor: pointer;
            display: flex;
            align-items: center;
            font-size: 1.2em;
            .sliders {
                margin-right: 10px;
            }
            .chevronDownFilters {
                margin-left: 10px;
                transition: transform 500ms;
            }
        }
        .cancelFiltersBtn {
            display: none;
            font-size: 1em;
            background: #395B64;
            padding: 10px;
            border-radius: 5px;
            color: white;
            cursor: pointer;
            align-items: center;
            border: none;
            .cancelSvg {
                margin-right: 0;
            }
            span {
                display: none;
            }
        }
    }
    .filtersAndApplyBtn {
        .orderBy {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            color: #395B64;
            .orderByFilterBox {
                display: flex;
                flex-direction: column;
                margin-bottom: 10px;
    
                label {
                    margin-bottom: 10px;
                }
                .orderBySelect {
                    padding: 5px 10px;
                    option {
                        padding: 5px 10px;
                        font-size: 0.9em;
                    }
                    .headerSelect {
                        padding: 5px 10px;
                        background:#A5C9CA ;
                        color:#395B64 ;
                    }
                }
            }
            .orderByDirectionBox {
                display: flex;
                flex-direction: column;
            }
        }
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 0;
        overflow: hidden;
        transition: height 500ms;
        width: 100%;
        select {
            option {
                font-size: 0.9em;
            }
        }
        .filters {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            .filtersItemAndTitle {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                background: #E7F6F2;
                margin: 10px;
                padding: 10px;
                border-radius: 5px;
                width: 95%;
                .filtersBlockTitle {
                    font-size: 1.3em;
                    color: #395B64;
                    margin-bottom: 10px;
                }
                .filtersItem {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    width: 100%;
                    .missionsFiltersLine {
                        display: flex;
                        flex-direction: row;
                        justify-content: center;
                        flex-wrap: wrap;
                    }
                    .countryAndDates {
                        display: flex;
                        flex-direction: column;
                        height: 135px;
                        .dates {
                            display: flex;
                            justify-content: space-between;
                        }
                    }
                    .labelAndFilter {
                        display: flex;
                        flex-direction: column;
                        margin-bottom: 10px;
                        width: 100%;
                        max-width: 300px;
                        .filterTitle {
                            margin-bottom: 5px;
                            color: #395B64;
                        }
                        .statusMissionFilter {
                            display: flex;
                            flex-wrap: wrap;
                            justify-content: center;
                            width: 100%;
                            max-width: 300px;
                            background: white;
                            border: 1px solid #767676;
                            border-radius: 2px;
                            div {
                                margin: 5px;
                                padding: 5px;
                                border-radius: 3px;
                                display: flex;
                                align-items: center;
                                width: 130px;
                                label {
                                    font-size: 0.9em;
                                }
                            }
                        }
                    }
                    input, select option {
                        padding: 5px 10px;
                    }
                    .countryMissionSelect {
                        padding: 5px 10px;
                        option {
                            padding: 5px 10px;
                        }
                    }
                    .headerSelect {
                        padding: 5px 10px;
                        background:#A5C9CA ;
                        color:#395B64 ;
                    }
                }
            }
            .morefiltersBtn {
                display: flex;
                align-items: center;
                margin: 10px 0;
                cursor: pointer;
                .moreFiltersSvg {
                    margin-right: 5px;
                }
                .chevronDownMoreFilters {
                    margin-left: 5px;
                }
            }
            .filtersSup {
                width: 100%;
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                height: 0;
                overflow: hidden;
                .filtersItemAndTitle {
                    margin: 10px 0;
                    width: 100%;
                    .filtersItem {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        .missionsFiltersLine {
                            .labelAndFilter {
                            }
                        }
                    }
                }
            }
        }
        .applyFiltersBtn {
            font-size: 1em;
            background: #395B64;
            padding: 10px;
            border: none;
            border-radius: 5px;
            color: white;
            margin: 10px 0;
            cursor: pointer;
            max-width: 150px;
            display: flex;
            align-items: center;
            .confirmSvg {
                margin-right: 5px;
            }
        }
    }
}
.missionsList {
    margin: 0;
    list-style: none;
    padding: 50px 0;
    margin: 0;
    text-align: center;
    width: 95%;
    .mission {
        display: inline-block;
        text-align: initial ;
        margin: 20px 0;
        border-radius: 5px;
        padding: 10px 20px;
        width: 85%;
        max-width: 650px;
        box-shadow: 0 0 10px #395B64;
        .headerMission {
            display: flex;
            justify-content: space-between;
            background: #395B64;
            border-radius: 5px;
            padding: 0 10px;
            color: white;
        }
        .infosMission {
            display: flex;
            justify-content: space-between;
            margin: 20px;
            position: relative;
            .missionItems {
                bottom: 0;
                .missionItem {
                    margin: 5px;
                }
            }
            .actionBtns {
                align-self: flex-end;
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                .actionBtn {
                    text-decoration: none;
                    display: flex;
                    border: 1px solid #395B64;
                    color: white;
                    padding: 9px 12px;
                    border-radius: 5px;
                    width: 16px;
                    transition: width 500ms;
                    overflow: hidden;
                    cursor: pointer;
                    opacity: 0.8;
                    &:hover {
                        opacity: 1;
                        width: 100px;
                    }
                    span {
                        display: flex;
                        align-items: center;
                        font-size: 0.9em;
                    }
                    .actionSvg {
                        margin-right: 12px;
                    }
                }
                .seeBtn {
                    background: #395B64;
                    font-size: 14px;
                    margin-bottom: 5px;
                }
                .editBtn {
                    background: rgb(42, 96, 179);
                    font-size: 14px;
                    margin-bottom: 5px;
                }
                .deleteBtn {
                    background: rgb(221, 76, 76);
                    button {
                        cursor: pointer;
                        background: none;
                        border: none;
                        color: white;
                        padding: 0;
                    }
                }
            }
        }
        .details {
            background: #395B64;
            border-radius: 5px;
            padding: 5px 20px;
            color: white;
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100px;
            transition: width 500ms;
            position: relative;
            left: 50%;
            transform: translateX(-50%);
            .detailsBtn {
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                background: #395B64;
                border-radius: 5px 5px 0 0;
                padding: 5px 0;
                color: white;
                cursor: pointer;
                transition: border-bottom 500ms;
                .chevronDownDetails {
                    margin-left: 10px;
                    transition: transform 500ms;
                }
            }
            .detailsInfos {
                align-self: start;
                height: 0;
                transition: height 500ms;
                overflow: hidden;
                .infosItem {
                    margin: 10px 0;
                    ul, p{
                        list-style: none;
                        padding: 5px 0 0 20px;
                        margin: 0;
                    }
                    span {
                        display: flex;
                        align-items: center;
                        svg {
                            margin-right: 5px;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 560px) {
    .filtersBox {
        .headerFilters {
            .cancelFiltersBtn {
                .cancelSvg {
                    margin-right: 5px;
                }
                span {
                    display: inline;
                }
            }
        }
        .filtersAndApplyBtn {
            .orderBy {
                flex-direction: row;
                .orderByFilterBox {
                    margin-right: 30px;
                }
            }
            .filters {
                .filtersItemAndTitle {
                    .filtersItem {
                        .missionsFiltersLine {
                            .labelAndFilter {
                                margin-left: 10px;
                                margin-right: 10px;
                            }
                        }
                        .labelAndFilterStatus {
                            margin-right: 10px;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 700px) {
    .filtersBox {
        .filtersAndApplyBtn {
            .filters {
                .filtersItemAndTitle {
                    .filtersItem {
                        .missionsFiltersLine {
                            .labelAndFilter {
                                width: auto;
                            }
                            .labelAndFilterStatus {
                                margin-right: 10px;
                                .statusMissionFilter {
                                    height: 95px;
                                }
                            }
                        }
                    }
                }
                .filtersSup {
                    .filtersItemAndTitle {
                        width: auto;
                        padding: 10px;
                        margin: 10px;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 865px) {
    .filtersBox {
        .filtersAndApplyBtn {
            .filters {
                .filtersItemAndTitle {
                    .filtersItem {
                        .missionsFiltersLine {
                            .countryAndDates {
                                margin-left: 50px;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 1100px) {
    .missionTitle {
        .newBtn {
            left: 122%;
            bottom: 50%;
            transform: translate(-50%, 50%);
        }
    }
    .filtersBox {
        margin: 0 50px;
    }
}


@media screen and (min-width: 1255px) {
    .filtersBox {
        .filtersAndApplyBtn {
            .filters {
                .filtersSup {
                    justify-content: space-between;
                    .filtersItemAndTitle {
                        margin: 10px 0;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 1385px) {
    .missionsList {
        .mission {
            margin: 20px;
        }
    }
}

@media screen and (min-width: 1520px) {
    .confirmMessage {
        position: absolute;
    }
}









