body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #EEEAE7;
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #395B64;
  margin-bottom: 80px;
  height: 80px;
  position: relative;
}

nav .logo {
  text-decoration: none;
  color: white;
  margin: 0 0 0 20px;
}

nav .infoMessage {
  text-align: center;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: -67px;
  color: #395B64;
  padding: 10px 10px;
  background: #A5C9CA;
  border-radius: 5px;
  opacity: 0;
  -webkit-transition: opacity 1000ms;
  transition: opacity 1000ms;
  z-index: 2;
  font-size: 0.9em;
  width: 335px;
}

nav .menu {
  position: absolute;
  top: 80px;
  left: -100vw;
  height: calc(100vh - 80px);
  width: 100vw;
  z-index: 2;
  -webkit-transition: left 500ms;
  transition: left 500ms;
}

nav .menu .menuList {
  background: #395B64;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 80px 0 0 0;
  margin: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
}

nav .menu .menuList .navItem {
  padding: 20px 0;
  border-bottom: 1px solid white;
  width: 75%;
  text-align: center;
}

nav .menu .menuList .navItem .navLink {
  text-decoration: none;
  color: white;
  padding: 15px;
}

nav .loginBtn {
  position: absolute;
  top: 100px;
  left: -50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 3;
  text-decoration: none;
  background: #A5C9CA;
  color: #395B64;
  border-radius: 5px;
  padding: 10px;
  opacity: 0.8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.2em;
  -webkit-transition: left 500ms;
  transition: left 500ms;
}

nav .loginBtn:hover {
  opacity: 1;
}

nav .loginBtn .loginSvg {
  margin-right: 10px;
}

nav .logoutBtn {
  position: absolute;
  top: 100px;
  left: -50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #A5C9CA;
  border-radius: 5px;
  padding: 10px;
  opacity: 0.8;
  -webkit-transition: left 500ms;
  transition: left 500ms;
  min-width: 188px;
}

nav .logoutBtn:hover {
  opacity: 1;
}

nav .logoutBtn button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.2em;
  cursor: pointer;
  color: #395B64;
  background: none;
  border: none;
  padding: 0;
}

nav .logoutBtn button .logoutSvg {
  margin-right: 10px;
}

nav .miniMenuBtns {
  color: white;
  margin-right: 20px;
}

nav .miniMenuBtns .closeMiniMenuBtn {
  display: none;
}

main {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: calc(100vh - 317px);
}

main h1 {
  text-align: center;
  font-size: 2em;
  color: #395B64;
  margin-top: 0;
  margin-bottom: 50px;
  padding: 0 10px;
}

main .pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 95%;
}

main .pagination .paginationBtn {
  background: #395B64;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #395B64;
  color: white;
  margin: 0;
  width: 102px;
  padding: 9px 12px;
  border-radius: 5px;
  cursor: pointer;
  opacity: 0.8;
}

main .pagination .paginationBtn:hover {
  opacity: 1;
}

main .pagination .paginationBtn .previousChevron {
  margin-right: 5px;
}

main .pagination .paginationBtn .nextChevron {
  margin-left: 5px;
}

main .pagination .previousBtn {
  margin-right: 20px;
}

footer {
  position: absolute;
  bottom: -157px;
  background-color: #2C3333;
  padding: 10px 0;
  margin-top: 50px;
  width: 100%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer p {
  text-align: center;
  color: white;
}

@media screen and (min-width: 760px) {
  main h1 {
    font-size: 3em;
  }
}

@media screen and (min-width: 1040px) {
  nav {
    padding: 0 20px;
  }
  nav .logo {
    margin-left: 0;
  }
  nav .menu {
    position: static;
    height: auto;
    width: auto;
  }
  nav .menu .menuList {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background: none;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 0;
  }
  nav .menu .menuList .navItem {
    padding: 0;
    border-bottom: none;
    width: auto;
  }
  nav .loginBtn {
    position: static;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-transform: none;
            transform: none;
  }
  nav .logoutBtn {
    position: static;
    -webkit-transform: none;
            transform: none;
    margin-left: 20px;
  }
  .miniMenuBtns {
    display: none;
    margin-right: 0;
  }
}
/*# sourceMappingURL=settings.css.map */