html {
  height: 100%;
}

body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #EEEAE7;
  height: 100%;
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #395B64;
  margin-bottom: 50px;
  height: 80px;
  position: relative;
}

nav .logo {
  text-decoration: none;
  color: white;
}

nav .menuList {
  position: absolute;
  top: 80px;
  background: #395B64;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: calc(100vh - 80px);
  width: 100vw;
  z-index: 2;
  margin: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  opacity: 0.9;
  width: 100%;
}

nav .menuList .navItem {
  padding: 20px 0;
  border-bottom: 1px solid white;
  width: 75%;
  text-align: center;
}

nav .menuList .navItem .navLink {
  text-decoration: none;
  color: white;
  padding: 15px;
}

nav .loginBtn {
  position: absolute;
  text-decoration: none;
  background: #A5C9CA;
  color: #395B64;
  border-radius: 5px;
  padding: 10px;
  opacity: 0.8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.2em;
}

nav .loginBtn:hover {
  opacity: 1;
}

nav .loginBtn .loginSvg {
  margin-right: 10px;
}

nav .logoutBtn {
  position: absolute;
  display: block;
  background: #A5C9CA;
  border-radius: 5px;
  padding: 10px;
  opacity: 0.8;
}

nav .logoutBtn:hover {
  opacity: 1;
}

nav .logoutBtn button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.2em;
  cursor: pointer;
  color: #395B64;
  background: none;
  border: none;
  padding: 0;
}

nav .logoutBtn button .logoutSvg {
  margin-right: 10px;
}

nav .miniMenuBtns {
  color: white;
}

nav .miniMenuBtns .closeMiniMenuBtn {
  display: none;
}

main {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 170px;
  min-height: calc(100vh - 287px);
}

main h1 {
  text-align: center;
  font-size: 3em;
  color: #395B64;
  margin-top: 0;
  margin-bottom: 50px;
}

footer {
  bottom: 0;
  background-color: #2C3333;
  padding: 10px 20px;
  margin-top: 50px;
}

footer p {
  text-align: center;
  color: white;
}

@media screen and (min-width: 800px) {
  nav {
    padding: 0 20px;
  }
  nav .menuList {
    position: static;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background: none;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    height: auto;
    width: auto;
    opacity: 1;
    width: auto;
  }
  nav .menuList .navItem {
    padding: 0;
    border-bottom: none;
    width: auto;
  }
  nav .loginBtn {
    position: static;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  nav .logoutBtn {
    position: static;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .miniMenuBtns {
    display: none;
  }
}
/*# sourceMappingURL=settings.css.map */