.missionEdit {
    display: flex;
    flex-direction: column;
    align-items: center;
    .missionEditTitle {
        text-align: center;
        font-size: 3em;
        color: #395B64;
        margin: 0;
    }
    .mission {
        input, textarea {
            padding: 5px 10px;
            font-size: 1rem;
            border-radius: 5px;
            border: none;
        }
        select {
            border: none;
            border-radius: 5px;
            .headerSelect {
                padding: 5px 10px;
                background:#A5C9CA ;
                color:#395B64 ;
            }
            option {
                font-size: 1.1em;
                padding: 5px 10px;
            }
        }
        background: #A5C9CA;
        width: 100%;
        max-width: 1500px;
        margin-top: 50px;
        border-radius: 5px;
        padding: 10px 20px;
        box-shadow: 0 0 10px #395B64;
        .headerMission {
            display: flex;
            justify-content: space-between;
            align-items: center;
            background: #395B64;
            border-radius: 5px;
            padding: 0 10px;
            color: white;
            .titleItem {
                label {
                    margin: 0 10px 10px 0;
                }
            }
            .statusMission {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                width: 350px;
                div {
                    margin: 5px;
                    padding: 5px;
                    border-radius: 3px;
                    display: flex;
                    align-items: center;
                    width: 150px;
                }
            }
        }
        .infosMission {
            display: flex;
            justify-content: space-between;
            margin: 50px 0;
            label {
                margin: 0 10px 10px 0;
            }
            .missionItem {
                margin: 5px;
            }
        }
        .details {
            label {
                margin: 0 10px 10px 0;
            }
            background: #395B64;
            border-radius: 5px;
            padding: 5px 20px;
            color: white;
            display: flex;
            flex-direction: column;
            align-items: center;
            .detailsBtn {
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                background: #395B64;
                border-radius: 5px 5px 0 0;
                padding: 5px 0;
                color: white;
                border-bottom: solid 1px white;
                font-size: 1.2em;
                cursor: pointer;
                .chevronDownDetails {
                    margin-left: 10px;
                }
            }
            .detailsInfos {
                align-self: start;
                width: 100%;
                display: flex;
                flex-direction: column;
                .descriptionItem {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    margin-top: 30px;
                    #missionDescription {
                        width: 100%;
                    }
                }
                .InfosItems {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-between;
                    margin: 30px 0;
                    .infosItem {
                        width: 350px;
                        margin: 10px 0;
                        display: flex;
                        flex-direction: column;
                        select {
                            height: 200px;
                        }
                    }
                }
                .specialityItem {
                    margin-bottom: 30px;
                    label {
                        margin-right: 10px;
                    }
                    select {
                        padding: 5px 10px;
                        font-size: 1rem;
                        width: 250px;
                    }
                }
            }
        }
        .actionBtns {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 20px;
            .actionBtn {
                text-decoration: none;
                display: flex;
                border: 1px solid #395B64;
                color: white;
                padding: 9px 12px;
                border-radius: 5px;
                cursor: pointer;
                opacity: 0.8;
                &:hover {
                    opacity: 1;
                }
                span {
                    display: flex;
                    align-items: center;
                }
                .actionSvg {
                    margin-right: 12px;
                }
            }
            .editBtn {
                background: rgb(42, 96, 179);
            }
            .deleteBtn {
                background: rgb(221, 76, 76);
                margin-right: 5px;
            }
        }
    }
}













